$primary-bg: #2c3e50;
$secondary-bg: lighten($primary-bg, 25%);

$text-color: #fff;
$link-color: lighten($secondary-bg, 25%);
$link-color-hover: darken($link-color, 25%);

$navbar-bg: $secondary-bg;
$navbar-color: $text-color;
$navbar-link-color: #fff;
$navbar-link-color-hover: darken($navbar-link-color, 25%);
$navbar-height: 50px;

$font-size-base: 20px;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$body-width: 960px;
