$primary-bg: #2c3e50;
$secondary-bg: lighten($primary-bg, 25%);

$body-bg: $primary-bg;
$text-color: #fff;
$navbar-default-bg: $secondary-bg;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: darken($navbar-default-link-color, 10%);
$link-color: lighten($secondary-bg, 25%);

$font-size-base: 20px;
