%span.anchor#conferences
%section.conferences
	%h1 Conférences
	%hr
	%ul
		%li
			%span.title Le projet Tor
			%span.location 11/16/2013, Ubuntu Party
			%span.links
				%a{href: 'https://confs.imirhil.fr/20131116_ubuntu-party_tor/'}
					%i.fa.fa-slideshare
					Support
		%li
			%span.title OpenSSL Valhalla Rampage
			%span.location 26/06/2014, Pas sage en Seine
			%span.links
				%a{href: 'https://confs.imirhil.fr/20140626_pses_openssl-valhalla-rampage/'}
					%i.fa.fa-slideshare
					Support
				%a{href: 'https://confs.imirhil.fr/20140626_pses_openssl-valhalla-rampage.webm'}
					%i.fa.fa-video-camera
					Vidéo
		%li
			%span.title Cryptographie « unplugged »
			%span.location 27/06/2014, Pas sage en Seine
			%span.links
				%a{href: 'https://confs.imirhil.fr/20140627_pses_crypto-unplugged-solitaire.odp'}
					%i.fa.fa-slideshare
					Support
		%li
			%span.title Introduction aux chiffrofêtes
			%span.location 16/11/2014, Ubuntu Party
			%span.links
				%a{href: 'https://confs.imirhil.fr/20141116_ubuntu-party_introduction-chiffrofetes.webm'}
					%i.fa.fa-video-camera
					Vidéo
		%li
			%span.title Hygiène numérique, applications mobiles et vie privée
			%span.location 16/11/2014, Ubuntu Party
			%span.links
				%a{href: 'https://confs.imirhil.fr/20141116_ubuntu_chiffrofete/privacy.html'}
					%i.fa.fa-slideshare
					Support
				%a{href: 'https://confs.imirhil.fr/20141116_ubuntu-party_hygiene-numerique-applications-mobiles-vie-privee.webm'}
					%i.fa.fa-video-camera
					Vidéo
		%li
			%span.title Les aventures d’un petit paquet réseau
			%span.location 16/11/2014, Ubuntu Party
			%span.links
				%a{href: 'https://confs.imirhil.fr/20141116_ubuntu_chiffrofete/paquet.html'}
					%i.fa.fa-slideshare
					Support
				%a{href: 'https://confs.imirhil.fr/20141116_ubuntu-party_aventures-petit-paquet-reseau.webm'}
					%i.fa.fa-video-camera
					Vidéo
		%li
			%span.title Comprendre HTTPS
			%span.location 16/11/2014, Ubuntu Party
			%span.links
				%a{href: 'https://confs.imirhil.fr/20141116_ubuntu_chiffrofete/tls.html'}
					%i.fa.fa-slideshare
					Support
				%a{href: 'https://confs.imirhil.fr/20141116_ubuntu-party_comprendre-https.webm'}
					%i.fa.fa-video-camera
					Vidéo
		%li
			%span.title Live FAQ
			%span.location 16/11/2014, Ubuntu Party
			%span.links
				%a{href: 'https://confs.imirhil.fr/20141116_ubuntu-party_live-faq.webm'}
					%i.fa.fa-video-camera
					Vidéo
		%li
			%span.title La surveillance de masse
			%span.location 07/03/2015, Journées Fédérez
			%span.links
				%a{href: 'https://confs.imirhil.fr/20150307_federez_surveillance/'}
					%i.fa.fa-slideshare
					Support
				%a{href: 'https://confs.imirhil.fr/20150307_federez_surveillance.webm'}
					%i.fa.fa-video-camera
					Vidéo
		%li
			%span.title Dégooglisons Internet
			%span.location 28/03/2015, Bibliothèque Francophone Multimédia de Limoges
			%span.links
				%a{href: 'https://confs.imirhil.fr/20150328_bfm-limoges_degooglisons-internet.odp'}
					%i.fa.fa-slideshare
					Support
				%a{href: 'https://confs.imirhil.fr/20150328_degooglisons-internet.webm'}
					%i.fa.fa-video-camera
					Vidéo
		%li
			%span.title SSL/TLS pour les nuls
			%span.location 20/06/2015, Pas sage en Seine
			%span.links
				%a{href: 'https://confs.imirhil.fr/20150620_pses_tls/'}
					%i.fa.fa-slideshare
					Support
				%a{href: 'https://confs.imirhil.fr/20150620_pses_tls.webm'}
					%i.fa.fa-video-camera
					Vidéo
		%li
			%span.title Routeur matériel Tor. Pourquoi ? Comment ?
			%span.location 30/06/2016, Pas sage en Seine
			%span.links
				%a{href: 'https://confs.imirhil.fr/20160630_pses-hsf_routeur-materiel-tor/'}
					%i.fa.fa-slideshare
					Support
				%a{href: 'https://confs.imirhil.fr/20160630_pses-hsf_routeur-materiel-tor.webm'}
					%i.fa.fa-video-camera
					Vidéo
