%span#contact.anchor
%section.contact
	%h1 Me contacter
	%hr
	%div
		%span.title Blog :
		%span.content
			%a{href: 'https://blog.imirhil.fr/'} https://blog.imirhil.fr/
	%div
		%span.title Email & Jabber :
		%span.content aeris@imirhil.fr
	%div
		%span.title GPG :
		%span.content
			6A68&nbsp;B761&nbsp;2629&nbsp;7666&nbsp;ECF4
			%br
			8F03&nbsp;
			%strong EFB7&nbsp;4277&nbsp;ECE4&nbsp;E222
	%div
		%span.title OTR :
		%span.content
			F643&nbsp;5CE0 300F&nbsp;3236&nbsp;62DA
			%br
			3C0E&nbsp;
			%strong 5769&nbsp;616D 2D3D&nbsp;AC72
	%div
		%span.title GNU Social :
		%span.content
			%a{href: 'https://status.imirhil.fr/'} https://status.imirhil.fr/
	%div
		%span.title Twitter :
		%span.content
			%a{href: 'https://twitter.com/aeris22'} @aeris22
	%div
		%span.title IRC :
		%span.content _aeris_ (Freenode, Geeknode, OFTC)
