<section id="conferences">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Conférences</h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<ul>
					<li>
						<span class="title">Le projet Tor</span>
						<span class="location">11/16/2013, Ubuntu Party</span>
						<span class="links">
							<a href="https://confs.imirhil.fr/20131116_ubuntu-party_tor/">
								<i class="fa fa-slideshare"></i>
								Support
							</a>
							<!--a href="">
								<i class="fa fa-video-camera"></i>
								Vidéo
							</a-->
						</span>
					</li>
					<li>
						<span class="title">OpenSSL Valhalla Rampage</span>
						<span class="location">26/06/2014, Pas sage en Seine</span>
						<span class="links">
							<a href="https://confs.imirhil.fr/20140626_pses_openssl-valhalla-rampage/">
								<i class="fa fa-slideshare"></i>
								Support
							</a>
							<a href="https://confs.imirhil.fr/20140626_pses_openssl-valhalla-rampage.webm">
								<i class="fa fa-video-camera"></i>
								Vidéo
							</a>
						</span>
					</li>
					<li>
						<span class="title">Cryptographie « unplugged »</span>
						<span class="location">27/06/2014, Pas sage en Seine</span>
						<span class="links">
							<a href="https://confs.imirhil.fr/20140627_pses_crypto-unplugged-solitaire.odp">
								<i class="fa fa-slideshare"></i>
								Support
							</a>
							<!--a href="">
								<i class="fa fa-video-camera"></i>
								Vidéo
							</a-->
						</span>
					</li>
					<li>
						<span class="title">Introduction aux chiffrofêtes</span>
						<span class="location">16/11/2014, Ubuntu Party</span>
						<span class="links">
							<!--a href="">
								<i class="fa fa-slideshare"></i>
								Support
							</a-->
							<a href="https://confs.imirhil.fr/20141116_ubuntu-party_introduction-chiffrofetes.webm">
								<i class="fa fa-video-camera"></i>
								Vidéo
							</a>
						</span>
					</li>
					<li>
						<span class="title">Hygiène numérique, applications mobiles et vie privée</span>
						<span class="location">16/11/2014, Ubuntu Party</span>
						<span class="links">
							<a href="https://confs.imirhil.fr/20141116_ubuntu_chiffrofete/privacy.html">
								<i class="fa fa-slideshare"></i>
								Support
							</a>
							<a href="https://confs.imirhil.fr/20141116_ubuntu-party_hygiene-numerique-applications-mobiles-vie-privee.webm">
								<i class="fa fa-video-camera"></i>
								Vidéo
							</a>
						</span>
					</li>
					<li>
						<span class="title">Les aventures d’un petit paquet réseau</span>
						<span class="location">16/11/2014, Ubuntu Party</span>
						<span class="links">
							<a href="https://confs.imirhil.fr/20141116_ubuntu_chiffrofete/paquet.html">
								<i class="fa fa-slideshare"></i>
								Support
							</a>
							<a href="https://confs.imirhil.fr/20141116_ubuntu-party_aventures-petit-paquet-reseau.webm">
								<i class="fa fa-video-camera"></i>
								Vidéo
							</a>
						</span>
					</li>
					<li>
						<span class="title">Comprendre HTTPS</span>
						<span class="location">16/11/2014, Ubuntu Party</span>
						<span class="links">
							<a href="https://confs.imirhil.fr/20141116_ubuntu_chiffrofete/tls.html">
								<i class="fa fa-slideshare"></i>
								Support
							</a>
							<a href="https://confs.imirhil.fr/20141116_ubuntu-party_comprendre-https.webm">
								<i class="fa fa-video-camera"></i>
								Vidéo
							</a>
						</span>
					</li>
					<li>
						<span class="title">Live FAQ</span>
						<span class="location">16/11/2014, Ubuntu Party</span>
						<span class="links">
							<!--a href="">
								<i class="fa fa-slideshare"></i>
								Support
							</a-->
							<a href="https://confs.imirhil.fr/20141116_ubuntu-party_live-faq.webm">
								<i class="fa fa-video-camera"></i>
								Vidéo
							</a>
						</span>
					</li>
					<li>
						<span class="title">La surveillance de masse</span>
						<span class="location">07/03/2015, Journées Fédérez</span>
						<span class="links">
							<a href="https://confs.imirhil.fr/20150307_federez_surveillance/">
								<i class="fa fa-slideshare"></i>
								Support
							</a>
							<a href="https://confs.imirhil.fr/20150307_federez_surveillance.webm">
								<i class="fa fa-video-camera"></i>
								Vidéo
							</a>
						</span>
					</li>
					<li>
						<span class="title">Dégooglisons Internet</span>
						<span class="location">28/03/2015, Bibliothèque Francophone Multimédia de Limoges</span>
						<span class="links">
							<a href="https://confs.imirhil.fr/20150328_bfm-limoges_degooglisons-internet.odp">
								<i class="fa fa-slideshare"></i>
								Support
							</a>
							<a href="https://confs.imirhil.fr/20150328_degooglisons-internet.webm">
								<i class="fa fa-video-camera"></i>
								Vidéo
							</a>
						</span>
					</li>
					<li>
						<span class="title">SSL/TLS pour les nuls</span>
						<span class="location">20/06/2015, Pas sage en Seine</span>
						<span class="links">
							<a href="https://confs.imirhil.fr/20150620_pses_tls.webm">
								<i class="fa fa-slideshare"></i>
								Support
							</a>
							<a href="https://confs.imirhil.fr/20150620_pses_tls/">
								<i class="fa fa-video-camera"></i>
								Vidéo
							</a>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
