<header>
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<img class="avatar" src="images/profile.png" alt="Tux Debian">
				<div class="intro-text">
					<h1>Aeris</h1>
					<hr />
					<p class="skills">
						Groupe crypto-terroriste individuel auto-radicalisé sur l’Internet digital
					</p>
					<p class="skills">
						Exégète numériste amateur de mauvaise foi
					</p>
					<p class="skills">
						Paysan du réseau et cultivateur d’oignons
					</p>
					<hr />
				</div>
			</div>
		</div>
	</div>
</header>
