%span.anchor#identity
%section.identity
	%img.big{src: 'images/profile.png', alt: 'Tux Debian'}
	%img.small{src: 'images/profile-small.png', alt: 'Tux Debian'}
	%h1 Aeris
	%hr
	%div
		%p Groupe crypto-terroriste individuel auto-radicalisé sur l’Internet digital
		%p Exégète numériste amateur de mauvaise foi
		%p Paysan du réseau et cultivateur d’oignons
	%hr
