%span.anchor#interviews
%section.interviews
	%h1 Interviews
	%hr
	%ul
		%li
			%p.title Voici à quoi ressemble l'Internet d'un hyper prudent
			%span.location 04/06/2015, Slate (Juliette Harau)
			%span.links
				%a{href: 'https://confs.imirhil.fr/20150604_slate_internet-hyperprudent/'}
					%i.fa.fa-external-link
					Article
				%a{href: 'https://www.slate.fr/story/101631/internet-hyper-prudent'}
					%i.fa.fa-newspaper
					Source
				%span.small (<i class="fa fa-warning"></i> trackers)
		%li
			%p.title Les petites réunions des super-héros de l'Internet
			%span.location 08/06/2015, Slate (Juliette Harau)
			%span.links
				%a{href: 'https://confs.imirhil.fr/20150608_slate_reunions-super-heros-internet/'}
					%i.fa.fa-external-link
					Article
				%a{href: 'https://www.slate.fr/story/101491/cafe-vie-privee-proteger-donnees-numeriques'}
					%i.fa.fa-newspaper
					Source
				%span.small (<i class="fa fa-warning"></i> trackers)
