<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<ul class="nav navbar-nav navbar-right">
			<li class="page-scroll">
				<a href="https://blog.imirhil.fr/">Blog</a>
			</li>
			<li class="page-scroll">
				<a href="#projects">Projets</a>
			</li>
			<li class="page-scroll">
				<a href="#conferences">Conférences</a>
			</li>
			<li class="page-scroll">
				<a href="#contact">Contact</a>
			</li>
		</ul>
	</div>
</nav>
