<section id="projects">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Projets</h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 project-container">
				<div class="project">
					<a href="https://imirhil.fr/tls/" data-toggle="modal">
						<i class="fa fa-search-plus fa-3x"></i>
						<img src="images/projects/sslcheck.png" alt="SSL Check" />
						<!--
						Image by Sean MacEntee
						CC-BY 2.0 https://creativecommons.org/licenses/by/2.0/
						https://www.flickr.com/photos/smemon/15944989872/
						/-->
					</a>
				</div>
			</div>
			<div class="col-sm-4 project-container">
				<div class="project">
					<a href="https://café-vie-privée.fr/" data-toggle="modal">
						<div class="caption">
							<div class="caption-content">
								<i class="fa fa-search-plus fa-3x"></i>
							</div>
						</div>
						<img src="images/projects/chiffrofete.png" alt="Café vie privée">
					</a>
				</div>
			</div>
			<div class="col-sm-4 project-container">
				<div class="project">
					<a href="https://nsa.imirhil.fr/" data-toggle="modal">
						<div class="caption">
							<div class="caption-content">
								<i class="fa fa-search-plus fa-3x"></i>
							</div>
						</div>
						<img src="images/projects/nsa-observer.png" alt="NSA Observer">
					</a>
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-sm-4 project-container">
				<div class="project">
					<a href="https://addons.mozilla.org/firefox/addon/enjoy-reading/" data-toggle="modal">
						<div class="caption">
							<div class="caption-content">
								<i class="fa fa-search-plus fa-3x"></i>
							</div>
						</div>
						<img src="images/projects/enjoy-reading.png" alt="Enjoy Reading">
					</a>
				</div>
			</div>
			<div class="col-sm-4 project-container">
				<div class="project">
					<a href="https://addons.mozilla.org/firefox/addon/shaarli/" data-toggle="modal">
						<div class="caption">
							<div class="caption-content">
								<i class="fa fa-search-plus fa-3x"></i>
							</div>
						</div>
						<img src="images/projects/shaarli.png" alt="Shaarli">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
