%span.anchor#projects
%section.projects
	%h1 Projets
	%hr
	.projects
		.project
			%a{href: 'https://imirhil.fr/tls/'}
				%img{src: 'images/projects/sslcheck.png', alt: 'SSL Check'}
				/
					Image by Sean MacEntee
					CC-BY 2.0 https//creativecommons.org/licenses/by/2.0/
					https://www.flickr.com/photos/smemon/15944989872/
		.project
			%a{href: 'https://café-vie-privée.fr/'}
				%img{src: 'images/projects/chiffrofete.png', alt: 'Café vie privée'}
		.project
			%a{href: 'https://nsa.imirhil.fr/'}
				%img{src: 'images/projects/nsa-observer.png', alt: 'NSA Observer'}
	.projects
		.project
			%a{href: 'https://addons.mozilla.org/firefox/addon/enjoy-reading/'}
				%img{src: 'images/projects/enjoy-reading.png', alt: 'Enjoy Reading'}
		.project
			%a{href: 'https://addons.mozilla.org/firefox/addon/shaarli/'}
				%img{src: 'images/projects/shaarli.png', alt: 'Shaarli'}
