%span.anchor#projects
%section.projects
	%h1 Projets
	%hr
	.projects
		.project
			CryptCheck :
			Outil de vérification du niveau de sécurité des configurations TLS et SSH
			%a{href: 'https://tls.imirhil.fr/'}
				%img{src: 'images/projects/cryptcheck.png', alt: 'CryptCheck'}
				/
					Image by Sean MacEntee
					CC-BY 2.0 https//creativecommons.org/licenses/by/2.0/
					https://www.flickr.com/photos/smemon/15944989872/
		.project
			OnionBox :
			Boîtier matériel garantissant le passage par Tor du trafic de ses
			utilisateurs
			%a{href: 'https://github.com/aeris/onionbox/'}
				%img{src: 'images/projects/onionbox.png', alt: 'OnionBox'}
	.projects
		.project
			Café Vie Privée :
			Collectif citoyen de formation à la défense de la vie privée
			%a{href: 'https://café-vie-privée.fr/'}
				%img{src: 'images/projects/chiffrofete.png', alt: 'Café Vie Privée'}
		.project
			NSA Observer :
			Base de données des différents documents publiés lors de l’affaire
			Snowden
			%a{href: 'https://nsa.imirhil.fr/'}
				%img{src: 'images/projects/nsa-observer.png', alt: 'NSA Observer'}
	.projects
		.project
			Shaarli :
			Extension Firefox s’interfaçant avec un serveur Shaarli pour la
			sauvegarde de liens intéressants
			%a{href: 'https://addons.mozilla.org/firefox/addon/shaarli/'}
				%img{src: 'images/projects/shaarli.png', alt: 'Shaarli'}
		.project
			Enjoy Reading :
			Extension Firefox facilitant la lecture d’un site Internet en
			convertissant les pages en texte brut
			%a{href: 'https://addons.mozilla.org/firefox/addon/enjoy-reading/'}
				%img{src: 'images/projects/enjoy-reading.png', alt: 'Enjoy Reading'}
