%span.anchor#projects
%section.projects
	%h1 Projets
	%hr
	.projects
		.project
			%span
				%a{href: 'https://tls.imirhil.fr/'}
					%b CryptCheck
				%br
				Outil de vérification du niveau de sécurité des configurations
				TLS et SSH
			%a{href: 'https://tls.imirhil.fr/'}
				%img.right{src: 'images/projects/cryptcheck.png', alt: 'CryptCheck'}
				/
					Image by Sean MacEntee
					CC-BY 2.0 https//creativecommons.org/licenses/by/2.0/
					https://www.flickr.com/photos/smemon/15944989872/
		.project
			%a{href: 'https://github.com/aeris/onionbox/'}
				%img.left{src: 'images/projects/onionbox.png', alt: 'OnionBox'}
			%span
				%a{href: 'https://github.com/aeris/onionbox/'}
					%b OnionBox
				%br
				Boîtier matériel garantissant le passage par Tor du trafic de
				ses utilisateurs
	.projects
		.project
			%span
				%a{href: 'https://café-vie-privée.fr/'}
					%b Café Vie Privée
				%br
				Collectif citoyen de formation à la protection de la vie privée
			%a{href: 'https://café-vie-privée.fr/'}
				%img.right{src: 'images/projects/chiffrofete.png', alt: 'Café Vie Privée'}
		.project
			%a{href: 'https://nsa.imirhil.fr/'}
				%img.left{src: 'images/projects/nsa-observer.png', alt: 'NSA Observer'}
			%span
				%a{href: 'https://nsa.imirhil.fr/'}
					%b NSA Observer
				%br
				Base de données des différents documents publiés lors de
				l’affaire Snowden
	.projects
		.project
			%span
				%a{href: 'https://addons.mozilla.org/firefox/addon/shaarli/'}
					%b Shaarli
				%br
				Extension Firefox s’interfaçant avec un serveur Shaarli pour la
				sauvegarde de liens intéressants
			%a{href: 'https://addons.mozilla.org/firefox/addon/shaarli/'}
				%img.right{src: 'images/projects/shaarli.png', alt: 'Shaarli'}
		.project
			%a{href: 'https://addons.mozilla.org/firefox/addon/enjoy-reading/'}
				%img.left{src: 'images/projects/enjoy-reading.png', alt: 'Enjoy Reading'}
			%span
				%a{href: 'https://addons.mozilla.org/firefox/addon/enjoy-reading/'}
					%b Enjoy Reading
				%br
				Extension Firefox facilitant la lecture d’un site Internet en
				convertissant les pages en texte brut
